<div id="rapper">
	<h1>Login</h1>
	{{#if user}}
		<div>You're currently logged in as: {{user.username}}</div>
	{{else}}
		<label id="message">{{message}}</label>
		<form method="POST" action="">
			<label>Username:</label> <input type="text" name="username">
			<br/>
			<label>Password:</label> <input type="password" name="password">
			<br/>
			<input type="submit" value="Login">
		</form>
	{{/if}}
	<form method="GET" action="/" id="toMain">
		<input type="submit" value="Return to Main">
	</form>
</div>
